[Unit]
Description=LUT server
After=local-fs.target

[Service]
ExecStart=/usr/bin/npm start --harmony-async-iteration
WorkingDirectory=/var/{{ lut_user }}/lut_proto
User={{ lut_user }}
Group={{ lut_user }}
Nice=19
Restart=always

[Install]
WantedBy=network.target
