server {
    server_name {{ filestore_domain }};
    server_tokens off;
    listen 8080;
    listen [::]:8080;

    location / {
        proxy_pass http://localhost:8080;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}

server {
    server_name {{ domain }};
    server_tokens off;
    listen 80;
    listen [::]:80;

    location / {
        proxy_pass http://localhost:{{ lut_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}

server {
    server_name www.lut-umw.tk;
    return 301 $scheme://lut-umw.tk$request_uri;
}
