
.login {
    margin: auto;
    width: 25em;
    padding-top: 5%;
}

.center {
    margin: auto;
    width: 100%;
    text-align: center;
}

.right {
    text-align: right;
    float: right;
}

.dropzone {
  border: 2px dashed #0087F7 !important;
  border-radius: 100px !important;
  background: white !important;
  width: 200%;
}

.row {
  margin-left: 0;
}

/* Sidebar */
.h5, h5 {
    color: #343a40;
}
.sidebar-heading {
    font-size: 23px;;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 65px 0 0;
    /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .19);*/
    box-shadow: 0 4px 8px 0 rgba(34, 34, 34, 0.2), 0 6px 20px 0 rgba(34, 34, 34, 0.19);
    border-right: 1px solid #8D8C8D;
    background-color: #f0edee; /*f0edee*/
}
@media (min-width: 768px) {
    .d-md-block {
        display: block!important;
    }
}
@media (min-width: 768px) {
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}
.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 65px;
    height: calc(100vh - 48px);
    padding: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.nav-pills .nav-link:hover {
    background: #d8d5d6;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: rgb(28,190,193);
}
.nav-link {
    width:100%;
}
.nav {
    margin: auto auto;
}
a {
    text-align: center;
}
a:hover {
    color: rgb(28,190,193);
}

/* Lab Tables */
.section {
    padding-top: 65px;
    font-family: 'Montserrat', sans-serif;
}
.table-bordered {
    border: 2px solid #dee2e6;
}
.table thead th {
    background-color: rgba(28, 190, 193, 0.19);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.labTitle {
    color: rgb(14,163,168);
}
.lab-saved-color {
    color: #343a40;
}
.lab-saved-bg{
    background-color: #dee2e6;
}

/* To Do List */
label {
    margin-top: .5rem;
}
input[type=checkbox]:checked+label.strikethrough {
    text-decoration: line-through;
}